<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BirdMessenger" version="4.0.0" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.5.1" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.5.1" />
  <package id="Microsoft.IdentityModel.Logging" version="7.5.1" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.5.1" />
  <package id="MimeMapping" version="4.0.0" />
  <package id="Supabase" version="8.0.0" manuallyInstalled="true" />
  <package id="Supabase.Core" version="8.0.0" />
  <package id="Supabase.Functions" version="8.0.0" />
  <package id="Supabase.Gotrue" version="8.0.0" />
  <package id="Supabase.Postgrest" version="8.0.0" />
  <package id="Supabase.Realtime" version="8.0.0" />
  <package id="Supabase.Storage" version="8.0.0" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.5.1" />
  <package id="System.Reactive" version="6.1.0" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" />
  <package id="System.Threading.Channels" version="10.0.8" />
  <package id="UniTask" version="2.5.11" manuallyInstalled="true" />
  <package id="Websocket.Client" version="5.5.0" />
</packages>